.componentWrapper p {
  padding: 1em;
}

.iframeContainer iframe {
  border: 0;
  height: calc(100% - 40px);
  left: 0;
  top: 40px;
  position: absolute;
  width: 100%;
}

.urlBar {
  color: gray;
  text-align: center;
  font-size: 75%;
}
